* {
  font-family: system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: $color-font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a,
p,
ul,
ol,
li,
time {
  font-family: sans-serif;
}

time {
  color: lightcoral;
}

code {
    font-family: "Fira Code", monospace;
    font-size: 0.9rem;
    line-height: 1;
  span {
    font-family:"Fira Code", monospace;
    font-size: inherit;
    line-height: inherit;
  }
}

html {
  line-height: 1.15;
  font-size: 18px;
}

ul {
  list-style-type: disc;
  color: black;
  overflow: unset;
  
}
li {
  overflow: unset;
}

@media only screen and(max-width: $breakpoint-tablet) {
  html {
    font-size: 17px;
  }
}

@media only screen and(max-width: $breakpoint-phone) {
  html {
    font-size: 16px;
  }
  
}