* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: $color-font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a,
p,
ul,
ol,
li,
time {
  font-family:"Roboto", sans-serif;
}

time {
  color: lightcoral;
}

code {
    font-family: "Fira Code", monospace;
  span {
    font-family:"Fira Code", monospace;
  }
}

html {
  line-height: 1.15;
}

ul {
  list-style-type: disc;
  color: black;
  overflow: unset;
  
}
li {
  overflow: unset;
}