@import "var";

body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    padding-top: 58px;
}

div, section, nav {
    overflow: hidden;
    box-sizing: border-box;
}

html {
    overflow: scroll;
}

div pre {
    overflow-x: scroll;
}