
.card-div {
    max-width: 85vh;
    margin: auto;
    padding: 20px;
    line-height: 1.5;

    a {
        text-decoration: none;
        color: $color-font-secondary;
    }
    
}

a.btn-tag#tag-post {
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #555;
    color: white;

}

@media only screen and(max-width: $breakpoint-tablet) {
    div.card-div{
        max-width: 90vw;
    }
}
