@import "init"; //initialization variable and something
@import "font";

@import "navbar";
@import "flexMinimal";
@import "content";
@import "posts";

section {
    background-color: beige;
}

.jumbotron {
    background-color: #222;
    
    padding: 0 20px;
    min-height: 80vh;
    position: relative;
    color: wheat;
    //init
    h1, h2, h3, h4, h5, h6, p, a {
        padding: 0;
        margin: 0;
    }

    h1 {
        color: $color-accent;
        font-size: 3em;

    }
    h3 {
        font-weight: 100;
        color: wheat;
    }
    .grid-l {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
}

footer {
    min-height: 20vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        color: #dddddd;
    }
}

div#content {
    min-height: 70vh;
}

div.title-section {
    margin: auto;
    padding: 0 40px;
}